* {
  margin: 0;
  padding: 0;
}

body {
  background: hsl(0, 0%, 95%);
  font-size: 15px;
}

.container {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container .title {
  font-family: "Big Shoulders Display", cursive;
}

.container .text {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
}
.container .sedans {
  background: hsl(31, 77%, 52%);
}

.container .SUV {
  background: hsl(184, 100%, 22%);
}

.container .luxury {
  background: hsl(179, 100%, 13%);
}

.container .button {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  font-size: 1em;
  border: solid 1px white;
  color: #fff;
  background-color: transparent;
  padding: 5%;
  border-radius: 25%;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
