* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  min-height: 100vh;
  background: hsl(0, 0%, 95%);
  font-size: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid red;
}

.container {
  color: #fff;
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  overflow: hidden;
}

.card {
  height: 350px;
  width: 200px;
  padding: 20px;
}

.title {
  font-family: "Big Shoulders Display", cursive;
  line-height: 2em;
  color: hsla(0, 0%, 100%, 0.75);
  padding-left: 20px;
}

.text {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: hsla(0, 0%, 100%, 0.75);
  padding-left: 20px;
  padding-right: 20px;
}
.sedans {
  background: hsl(31, 77%, 52%);
}

.SUV {
  background: hsl(184, 100%, 22%);
}

.luxury {
  background: hsl(179, 100%, 13%);
}

.button {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  font-size: 1em;
  border: solid 2px white;
  background-color: #fff;
  margin-left: 20px;
  margin-top: 80px;
  padding: 4% 7% 4% 7%;
  border-radius: 60px;
  transition-duration: 0.4s;
}

.botonsedan {
  color: hsl(31, 77%, 52%);
}

.botonSUV {
  color: hsl(184, 100%, 22%);
}

.botonluxury {
  color: hsl(179, 100%, 13%);
}
.button:hover {
  cursor: pointer;
  color: #fff;
  background-color: transparent;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

img {
  padding-left: 20px;
}

@media screen and (max-width: 575px) {
  .container {
    flex-direction: column;
  }
}
